@model IEnumerable<Supporter.Entity.ProblemTipi>

@{
    ViewBag.Title = "Index";
}

<h2 data-aos="zoom-in-left">Problem Tipleri</h2>

<p>
    @Html.ActionLink("Yeni Problem Tipi Oluştur", "Create")
</p>
<table class="table"  data-aos="zoom-in">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProblemTipiAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemTipiAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.Id }) |
            @Html.ActionLink("İncele", "Details", new { id=item.Id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
